<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.indexedlist.css" rel="stylesheet" />
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			
			.mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">联系人</h1>
		</header>
		<div class="mui-content" id="contact_list">
			<div id='list' class="mui-indexed-list">
				<div class="mui-indexed-list-search mui-input-row mui-search">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="可使用首字母搜索">
				</div>
				<div class="mui-indexed-list-bar">
					<a>A</a>
					<a>B</a>
					<a>C</a>
					<a>D</a>
					<a>E</a>
					<a>F</a>
					<a>G</a>
					<a>H</a>
					<a>I</a>
					<a>J</a>
					<a>K</a>
					<a>L</a>
					<a>M</a>
					<a>N</a>
					<a>O</a>
					<a>P</a>
					<a>Q</a>
					<a>R</a>
					<a>S</a>
					<a>T</a>
					<a>U</a>
					<a>V</a>
					<a>W</a>
					<a>X</a>
					<a>Y</a>
					<a>Z</a>
				</div>
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner" id="group_contact">
					<div class="mui-indexed-list-empty-alert">没有数据</div>
					<ul class="mui-table-view">
						<div v-for="contact in contacts">
							<li v-bind:data-group="contact.group" class="mui-table-view-divider mui-indexed-list-group">
								{{contact.group}}
							</li>
							<li v-for="detail in contact.details" v-bind:data-value="detail.pinyin" v-bind:data-tags="detail.pinyin" class="mui-table-view-cell mui-indexed-list-item">
								{{detail.name}}
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.indexedlist.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js" charset="UTF-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			mui.ready(function() {
				var header = document.querySelector('header.mui-bar');
				var list = document.getElementById('list');
				//calc hieght
				list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
				//create
				window.indexedList = new mui.IndexedList(list);
			});

			//混合vue
			var news = new Vue({
				el: '#contact_list',
				data: {
					contacts: [{
							"group": "A",
							"details": [{
								"id": 1,
								"name": "艾小丽",
								"age": 22,
								"sex": "男",
								"birth": "1996/04/17",
								"tel": 15555555555,
								"pinyin": "AiXiaoLi",
								"avatar": "../images/icon-boy_39x39.png",
								"email": "1@163.com",
								"company": "百度科技"
							}]
						}, {
							"group": "B",
							"details": [{
								"id": 2,
								"name": "白罗生",
								"age": 22,
								"sex": "女",
								"birth": "1996/04/17",
								"tel": 15555555555,
								"pinyin": "BaiLuoSheng",
								"avatar": "../images/icon-girl_39x39.png",
								"email": "1@163.com",
								"company": "腾讯科技"
							}]
						}, {
							"group": "C",
							"details": [{
								"id": 3,
								"name": "陈真",
								"age": 22,
								"sex": "女",
								"birth": "1996/04/17",
								"tel": 15555555555,
								"pinyin": "ChenZhen",
								"avatar": "../images/icon-girl_39x39.png",
								"email": "1@163.com",
								"company": "阿里巴巴"
							}, {
								"id": 6,
								"name": "曹格",
								"age": 22,
								"sex": "女",
								"birth": "1996/04/17",
								"tel": 15555555555,
								"pinyin": "CaoGE",
								"avatar": "../images/icon-girl_39x39.png",
								"email": "1@163.com",
								"company": "阿里巴巴"
							}]
						},
						{
							"group": "D",
							"details": [{
									"id": 4,
									"name": "丁铁柱",
									"age": 22,
									"sex": "男",
									"birth": "1996/04/17",
									"tel": 15555555555,
									"pinyin": "DingTieZ",
									"email": "1@163.com",
									"company": "网易"
								}
							]
						}
					]
				}
			})
		</script>
	</body>

</html>